.vscode/sftp.json
1000G.pathSTRdb
pathSTR/__pycache__/*
pathSTR-1000G-dash.log
om_090.vcf.gz
1000G.pathSTRdb.old
genotypes.fofn
assets/overview-strip.png:Zone.Identifier
pathSTR_STRdust_hg38_good_samples.zip
pathSTR_STRdust_t2t_good_samples.zip
pathSTR_LongTR_hg38_good_samples.zip
pathSTR_LongTR_t2t_good_samples.zip
om_090_new_strdust_manual_fix.vcf.gz
