.vscode/sftp.json
1000G.pathSTRdb
pathSTR/__pycache__/*
pathSTR-1000G-dash.log
om_090.vcf.gz
1000G.pathSTRdb.old
genotypes.fofn
longtr.fofn
strdust.fofn
assets/overview-strip.png:Zone.Identifier
pathSTR_longTR_hg38_good_samples.zip
pathSTR_longTR_t2t_good_samples.zip
pathSTR_STRdust_hg38_good_samples.zip
pathSTR_STRdust_t2t_good_samples.zip
