name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install
      run: pip3 install -r requirements.txt
    - name: make_db
      run: python app.py --vcf test/genotypes_test.fofn --save_db test_database --sample_info data/pathSTR_samples.tsv --store_only
    - name: run and shutdown
      run: |
        set -e
        python app.py --db test_database &
        app_pid=$!
        sleep 120
        kill $app_pid
